<mat-toolbar color="accent">
<div class="row-one">
<div class="container-padding">
<span>r1c1</span>
</div>
<div id="r1c2" class ="container-padding">
    <td><button class="nav-button" type="button" mat-raised-button color="primary">
        Home
    </button></td>
    <td><button (click)="navigateTo('courses')" class="nav-button" type="button" mat-raised-button color="primary">
        Courses
    </button></td>
</div>
<div class="container-padding">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
</div>
</div>
</mat-toolbar>